@import '../../global.scss';
.portfolio{
    background-color: chartreuse;
   .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 2rem;
    @include mobile{
        padding: 0.5rem 1rem;
    }

    ul{
        display: flex;
        list-style: none;

        @include mobile{
            flex-wrap: wrap;
        }
        // li{
        //     color: gray;
        //     margin: 1rem 1rem;
        //     cursor: pointer;
        //     font-size: 1.5rem;
        //     text-transform: capitalize;

        //     &.active{
        //         background-color: #0b0b0b;
        //         color: white;
        //         padding: 4px 8px;
        //         border-radius: 10px;
        //     }


        // }
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .item{
            border-radius: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            position: relative;
            margin: 1rem 1rem;
            transition: all 0.5s ease;
            img{
            height: 15rem;
            width: 15rem;
            // overflow: hidden;
            object-fit: cover;
            border-radius: 10px;

            @include mobile{
                height:14rem ;
                width: 14rem;
            }
            
            z-index: 1;
            }
            h2{
                position: absolute;
                top: 5rem;
                @include mobile{
                    font-size: 1rem;
                }
            }
            &:hover{
                background-color: rgb(68, 57, 57);
                color: rgb(85, 36, 36);
                img{
                    z-index: 0;
                    cursor: pointer;
                }
            }
        }
    }
   }

}
    