@import '../../global.scss';

.contact {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
        height: 80%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 1rem;
        box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.73);
        -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.73);
        -moz-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.73);
        @include mobile{
            flex-direction: column;
        }

        .left{
            flex: 0.5;
            display: flex;
            align-items: center;
            justify-content: center;

            .contactimg{
                height: 80%;
                width: 80%;

                @include mobile{
                    height: 10rem;
                    width: 15rem;
                }
            }

        }
        .right{
            flex: 0.5;
            @include mobile{
                padding: 0 0;
            }
            
            .contact{
                text-transform: uppercase;
                color: gray;
                font-weight: 700;
                font-size: 2rem;
                @include mobile{
                    font-size: 1rem;
                    gap: 0rem;
                }
            }
            .formContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 2rem;
                width: 100%;
                @include mobile{
                    gap: 0.5rem;
                    margin-top: 0.1rem;
                }

                form{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    @include mobile{
                        gap: 0.2rem;
                    }

                    input{
                        font-size: 1rem;
                        width: 25rem;
                        height: 2rem;
                        border: none;
                        @include mobile{
                            width: 10rem;
                            height: 0.8rem;
                            font-size: 0.8rem;
                        }
                        &:focus{
                            outline: none;
                        }

                        
                    }
                    textarea{
                        width: 25rem;
                        height: 10rem;
                        font-size: 1rem;
                        @include mobile{
                            width: 12rem;
                            height: 4rem;
                        }
                    }
                    button{
                        font-size: 2rem;
                        padding: 3px 5px;
                        border-radius: 10px;
                        color: white;
                        background-color: crimson;
                        width: 10rem;
                        border: none;
                        cursor: pointer;

                        &:focus{
                            outline: none;
                        }
                    }
                    span{
                        color: green;
                    }
                }
            }

        }
    }
}